.add-expense-container {
  margin-top: 25px;
  text-align: center;
}

.add-expense-btn {
  background: linear-gradient(
    90deg,
    #2563eb,
    #ec4899
  );

  border: none;
  color: white;

  padding: 14px 40px;

  border-radius: 14px;

  font-size: 18px;

  cursor: pointer;
}

.add-expense-btn:hover {
  opacity: 0.9;
}
