.stat-card {
  background: #0f172a;
  border: 1px solid #1e293b;

  border-radius: 18px;

  padding: 25px;

  min-height: 150px;

  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 15px rgba(59,130,246,0.4);
}

.stat-card h4 {
  color: #94a3b8;
  margin-bottom: 15px;
}

.stat-card h2 {
  color: white;
  font-size: 34px;
  margin-bottom: 10px;
}

.stat-card p {
  color: #64748b;
}
